.addSitter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.7);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

  label {
      color: white;
      font-family: Allerta Stencil;
  }

  .become {
      margin-left: 20px;
  }