.navbar {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.become {
   position: fixed;
   /* color: red; */
   top: 25px;
}

.logo {
   width: 150px;
   /* opacity: 0.5; */
}

.navBarContent {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 70px;
    width: 82%;
    font-family: "Montserrat";
    font-size: 16px;
 }

 
 button {
    padding: 5px;
    background-color: rgb(113, 207, 235);
    color: whitesmoke;
    /* border-radius: 5px; */
    transition-duration: .2s;
    font-size: 13px;
    border-radius: 12px;
    z-index: 33;
}

.navBarContent ul {
    list-style: none;
 }
 
 .navBarLeft {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;

 }
 


 a {
    /* color: aqua; */
    font-family: Allerta Stencil;
    color: whitesmoke;
    font-size: 16px;
    text-decoration: none;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
 }

 button:hover {
    background-color: rgba(2, 217, 255, 0.619);
 }

 .profileButtonContainer {
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    top: 11px;
    right: 0px;
    font-size: 20px;
 }
 
 /* .becomeASitter {
   margin-top: 10px;
 } */
 
 .profileDropdown {
    display: inline-block;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    top: 60px;
    left: 80px;
    background-color: rgba(2, 217, 255, 0.619);
    width: 275px;
    box-shadow:0 5px 5px 2px rgba(0,0,0,0.06)
 }
 
 .profileDropdown > ul li {
    border-bottom: 1px solid white;
 }

 .proButton {
    width: 40px;
 }